---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Argument from '../components/Argument.astro';
import Exploitation from '../components/exploitation.astro';
---

<Layout title="Accueil">
	<main>
		<Header />
		<Argument />
		<Exploitation />
	</main>
</Layout>
