---
import Navbar from "./Navbar.astro";
import data from "../datas/entreprise.json";
---
<section>
   <!-- <Navbar /> -->
   <div class="container">
        <div class="container-text">
            <h1><span>{data.entreprise}</span>, réchauffez votre hiver.</h1>
            <p>{data.presentation}</p>
            <div class="cta-container">
                <a class="cta-service" href="/services">
                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 122.88 68.15"><title>timber</title><path d="M40.42,3.37a1.65,1.65,0,0,1-.85-.24,13.31,13.31,0,0,0-2-.14,14.27,14.27,0,1,0,3.28.38ZM18.69,30.78a18.53,18.53,0,0,1,7.49,1.56,1.27,1.27,0,0,1,.28,0H29A17.29,17.29,0,0,1,37.56,0a17.07,17.07,0,0,1,2.49.18,1.5,1.5,0,0,1,.37,0H90a16.55,16.55,0,0,1,15.82,10.65,19.28,19.28,0,0,1,1.39,7A17.51,17.51,0,0,1,106,24.67a14.93,14.93,0,0,1-6.89,7.64h6.61A16.54,16.54,0,0,1,121.48,43a19.16,19.16,0,0,1,1.4,7,17.71,17.71,0,0,1-1.29,6.93c-2.27,5.48-7.46,9.68-15.92,9.68H60.81a18.73,18.73,0,0,1-16.12-.42,1.58,1.58,0,0,1-1.08.42H26.31a18.69,18.69,0,1,1-7.62-35.75Zm12.47,4.76.74.71a18.59,18.59,0,0,1,4,6,18.75,18.75,0,0,1,4-6c.24-.24.49-.48.75-.71Zm4.78,21.12a18.59,18.59,0,0,1-4,6l-.65.63h9.39L40,62.68a18.75,18.75,0,0,1-4-6ZM29.62,38.53a15.46,15.46,0,1,0,4.53,10.93,15.4,15.4,0,0,0-4.53-10.93ZM18.69,41.14a8.33,8.33,0,1,1-5.88,14.21l-.1-.1a8.31,8.31,0,0,1,.1-11.66h0a8.3,8.3,0,0,1,5.88-2.44Zm3.6,4.72a5.09,5.09,0,0,0-7.2,0h0A5.13,5.13,0,0,0,15,53l.08.07a5.09,5.09,0,0,0,7.2-7.21ZM53.2,30.78a18.85,18.85,0,0,1,3.63.35H90c6.51,0,10.61-2.93,12.58-6.88H77.37a1.62,1.62,0,0,1,0-3.23h26.35a15.12,15.12,0,0,0,.31-3.23A16,16,0,0,0,102.86,12,13.42,13.42,0,0,0,90,3.37H47.81a16.72,16.72,0,0,1,2,1.69,17.3,17.3,0,0,1,4.08,6.45H88.93a1.62,1.62,0,0,1,0,3.23H54.66a17.79,17.79,0,0,1,.19,2.55,17.21,17.21,0,0,1-5.07,12.22,15.87,15.87,0,0,1-1.86,1.62h1.64a18.88,18.88,0,0,1,3.64-.35Zm12.46,4.76c.26.23.51.47.75.71a18.74,18.74,0,0,1,4.35,6.81h34.47a1.61,1.61,0,0,1,0,3.22H71.62a19.68,19.68,0,0,1,.27,3.18,18.64,18.64,0,0,1-5.48,13.22l-.66.63h39.92c6.85,0,11-3.26,12.87-7.52H93a1.62,1.62,0,1,1,0-3.23h26.51a15,15,0,0,0,.19-2.6,15.91,15.91,0,0,0-1.17-5.79,13.41,13.41,0,0,0-12.82-8.63Zm-1.53,3a15.41,15.41,0,0,0-7.63-4.17H49.89a15.46,15.46,0,1,0,14.24,4.17ZM53.2,41.14a8.33,8.33,0,1,1-5.89,14.21l-.09-.1a8.29,8.29,0,0,1,.09-11.66h0a8.34,8.34,0,0,1,5.89-2.44Zm3.6,4.72a5.11,5.11,0,0,0-7.21,0h0A5.11,5.11,0,0,0,49.52,53l.07.07a5.1,5.1,0,0,0,7.21-7.21Zm29,6.7a1.62,1.62,0,0,1,0,3.23H77.34a1.62,1.62,0,1,1,0-3.23Zm-48.23-43A7.69,7.69,0,0,1,43,22.73h0a7.68,7.68,0,0,1-10.88,0h0a7.68,7.68,0,0,1,0-10.88h0a7.66,7.66,0,0,1,5.43-2.25ZM40.89,14a4.72,4.72,0,0,0-6.66,0h0a4.72,4.72,0,0,0,0,6.66h0A4.71,4.71,0,1,0,40.89,14Z"/></svg>
                    Notre bois
                </a>
                <a class="cta-contact" href="/contact">
                    <svg fill="white" id="mail" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 122.879 88.855" enable-background="new 0 0 122.879 88.855" xml:space="preserve"><g><path d="M7.048,0h108.784c1.939,0,3.701,0.794,4.977,2.069c1.277,1.277,2.07,3.042,2.07,4.979v74.759 c0,1.461-0.451,2.822-1.221,3.951c-0.141,0.365-0.361,0.705-0.662,0.994c-0.201,0.189-0.422,0.344-0.656,0.461 c-1.225,1.021-2.799,1.643-4.508,1.643H7.048c-1.937,0-3.701-0.793-4.979-2.07C0.794,85.51,0,83.748,0,81.807V7.048 c0-1.941,0.792-3.704,2.068-4.979C3.344,0.792,5.107,0,7.048,0L7.048,0z M5.406,78.842l38.124-38.22L5.406,9.538V78.842 L5.406,78.842z M47.729,44.045L8.424,83.449h105.701L76.563,44.051L64.18,54.602l0,0c-0.971,0.83-2.425,0.877-3.453,0.043 L47.729,44.045L47.729,44.045z M80.674,40.549l36.799,38.598V9.198L80.674,40.549L80.674,40.549z M8.867,5.406l53.521,43.639 l51.223-43.639H8.867L8.867,5.406z"/></g></svg>
                    Contactez-nous
                </a>
            </div>
        </div>
        <img src={data.logo} alt={data.logoAlt}>
    </div>
</section>
<style>
    section{
        padding:0.5rem 0.5rem 0;
        text-align: center;
        background: var(--color-background-linear);
    }
    h1{
        font-size: 2rem;
        margin: 2rem 0 1rem;
    }
    span{
        color: var(--color-text-light);
    }
    p{
        padding: 0.5rem;
        color: var(--color-text-light);
        margin: 0.5rem 0;
        text-align: left;
    }
    .cta-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    svg{
        width: 40px;
        margin-right: 0.5rem;
    }
    #mail{
        width: 30px;
    }
    a{
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        margin: 0.5rem;
        border: 1px solid var(--color-text-light);
        border-radius: var(--border-radius);
        width: 195px;
        font-size: 1.2rem;
    }
    .cta-contact{
        color: var(--color-text-light);
    }
    .cta-service{
        background: var(--color-text-light);
    }
    img{
        aspect-ratio: 0.6667;
        height: 350px;
        position: relative;
        bottom:var(--position-small);
        left: 3.5rem;
    }

    @media(min-width:870px){
        section{
            padding: 1.5rem 5rem;
            text-align: inherit;
        }
        .container{
            display: flex;
            align-items: center; 
            justify-content: space-around;
        }
        h1{
            font-size: 2.8rem;
        }
        .cta-container{
            flex-direction: row;
        }
        p{
            padding: inherit;
            font-size: 1.4rem;
        }
        img{
            height: 450px;
            align-self: flex-end;
            position: relative;
            bottom: var(--position-medium);
            animation: move 0.6s ease-in;
        }
        .cta-contact:hover{
            color:var(--color-accent);
            border-color: var(--color-accent);
        }
        .cta-contact:hover svg{
            fill: var(--color-accent);
        }
        .cta-service:hover{
            background: var(--color-accent);
        }
        @keyframes move {
            from{
                transform:translateX(-100px);
                opacity: 0.6;
            }
            to {
                transform:translateX(0);
                opacity: 1;
            }
        }
    }

    @media(min-width:1200px){
        .container-text{
            margin-left: 10rem;
        }
        p{
            width: 60%;
        }
        img{
            height: inherit;
        }
        @keyframes move {
            from{
                transform:translateX(-200px);
                opacity: 0.6;
            }
            to {
                transform:translateX(0);
                opacity: 1;
            }
        }
    }
</style>