
<section class="navbar-container">
    <ul class="navbar">
        <li class="navbar-list"> <a href="/">Accueil</a></li>
        <li class="navbar-list"><a href="/services">Services</a></li>
        <li class="navbar-list"><a href="/contact">Contact</a></li>
    </ul>
</section>