
<section class="navbar">
    <ul>
        <li class="navbar-list"> <a href="/">Accueil</a></li>
        <li class="navbar-list"><a href="/services">Services</a></li>
        <li class="navbar-list"><a href="/contact">Contact</a></li>
    </ul>
</section>